<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Đăng nhập</title>

    <link rel="stylesheet" th:href="@{/login.css}">

</head>

<body>

<div class="login-box">

    <h1>LOGIN ADMIN</h1>

    <form action="/login" method="post">

        <input type="text"
               name="username"
               placeholder="Nhập username">

        <input type="password"
               name="password"
               placeholder="Nhập password">

        <button type="submit">
            Đăng nhập
        </button>

    </form>

</div>

</body>
</html>